<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.locoapps.kidseducation"
    android:versionCode="1"
    android:versionName="1.0" >
    
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
        <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        
        <activity
            android:name="com.locoapps.kidseducation.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.MainActivity"
            android:screenOrientation="portrait" >
           
        </activity>
        
        
        <activity
            android:name="com.locoapps.kidseducation.Activity2"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.AlphabetActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.Activity4"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.Activity5"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.Activity6"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.NumberActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.ShapesActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.locoapps.kidseducation.ColorActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>